@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Navigation Bar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
  overflow-x: hidden;
  background: #31373E;
}

li, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  background: #424b54;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  color: #ffff;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #424b54;
}

.mobile-nav-toggle {
  display: none;
}

.fa-bars {
  color: #ffff;
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  background: #424b54;
}

.logolink {
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
}

.logolink:hover {
  color: #ffff;
}

.navlinks {
  list-style: none;
  border: 0;
  background: #424b54;
}

.navlinks, li {
  display: inline-block;
  padding: 0 20px;
}

.navlinks, li, a {
  transition: all 0.3s ease 0s;
}

.navlinks, li, a:hover {
  color: #0077B6;
}

/* Mobile NavBar */
@media (max-width: 35em) {
  .navlinks {
    z-index: 10000;
    position: fixed;
    inset: -10% 0 0 30%;
    flex-direction: column;

    padding: min(30vh, 10rem) 2em;
    margin-left: 4em;
    margin-top: 4em;
    transform: translateX(100%);
  }
}

.navlinks[data-visible="true"] {
  transform: translateX(0%);
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  background: url(../img/bars-solid.svg);
  background-repeat: no-repeat;
  color: #ffff;
  border: 0;
  border-radius: 0;
  z-index: 9999;
  width: 1rem;
  aspect-ratio: 1;
  top: 1rem;
  right: 1rem;
}

.mobile-nav-toggle:hover {
  background-color: transparent;
}

@supports (backdrop-filter: blur(1rem)) {
  .navlinks {
    backdrop-filter: blur(1rem);
    background: #424b54;
  }
}

/* Contact me Button */
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0077B6;
  padding: 5px 15px;
  border-color: #0077B6;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #0077B6;
  color: #ffff;
}

.page-image {
  width: 1450px;
  height: 200px;
  resize: both;
}

.page-title {
  font-family: 'Caveat Brush', cursive;
  font-size: 62px;
  font-weight: 400;
  color: #ffff;
  position: absolute;
  top: 14%;
  widows: 100%;
  text-align: center;
  resize: both;
  background-color: transparent;
}

 /* welcoming text */
.intro {
  font-family: 'Caveat Brush', cursive;
  font-size: 55px;
  font-weight: 400;
  color: #ffff;
  position: absolute;
  top: 20%;
  widows: 100%;
  text-align: left;
  background-color: transparent;
  resize: both;
}

/* About me section */
.about-me {
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
  color: #ffff;
  text-align: left;
  resize: both;
}

.about-my-background {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  text-align: left;
}

.my-background {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ffff;
}

.about-image {
  float: left;
  max-width: 100%;
  resize: both;
}

/* Background image for the first section of the homepage */
.bg-image {
  max-width: 100%;
  object-fit: cover;
  resize: both;
  filter: brightness(60%);
}