@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
  resize: both;
}

li, a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 10%;
  color: #ffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.logolink {
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
  background-color: transparent;
}

.logolink:hover {
color: #ffff;
}
.navlinks {
  background-color: rgba(0, 0, 0, 0.6);
}
.navlinks {
  list-style: none;
}

.navlinks, li {
  display: inline-block;
  padding: 0 20px;
}

.navlinks, li, a {
  transition: all 0.3s ease 0s;
}

.navlinks, li, a:hover {
  color: #0077B6;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0077B6;
  padding: 9px 20px;
  border-color: #0077B6;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #0077B6;
  color: #ffff;
}

.intro {
  font-family: 'Caveat Brush', cursive;
  font-size: 62px;
  font-weight: 400;
  color: #ffff;
  position: absolute;
  top: 20%;
  widows: 100%;
  text-align: left;
  background-color: transparent;
  resize: both;
}

.about-me {
  font-family: 'Caveat Brush', cursive;
  font-size: 22px;
  font-weight: 400;
  color: #ffff;
  text-align: left;
}

.about-my-background {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  text-align: left;
}

.my-background {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ffff;
}

.bg-image {
  max-width: 100%;
  object-fit: cover;
  resize: both;
  filter: brightness(60%);
}

.about-image {
  float: left;
  max-width: 100%;
  resize: both;
}